body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: black; */
}

.info-text{
  font-size: 4.7rem;
  color: rebeccapurple;
}
.subheading{
  font-size: 3.5rem;
}
.image{
  height: 500px;
  width: 500px;
  border-radius: 20px;
}
.hero-section{
  margin-top: 5rem ;
}
.project-section{
  margin-top: 4rem;
}
.about-section{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.a-pic{
  height: 10rem;
  width: 30rem;
  margin-top: 2rem;
}
